// app global css in SCSS form
.page { 
  padding: 48px;
}
.title {
  font-size: 1.4em;
  font-weight: 300;
  color: $grey-8;
  margin: 0 24px;
  padding: 24px 32px 16px 24px;
  border-bottom: 1px solid $grey-4;
}
.content {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 300;
  color: $grey-8;
  padding: 40px 160px 60px 160px;
  max-height: 650px;
}